@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sora:wght@600&display=swap");

* {
  font-family: "Inter";
}

body {
  background-color: #ffffff;
}
ul li a.nav-link {
  color: #ffffff;
}

ul li a.nav-link:hover {
  color: #ffff;
}
.navbar-custom {
  background-color: cornflowerblue;
}
/* Banner Section start */
.hero-section {
  /* background-image: () 50% no-repeat; */
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.tombol {
  background-color: #19289c;
  color: #daeb21;
}

/* Banner Section start */
.promo-section {
  background: url("https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg")
    50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.promo-section .promo-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
/* Banner Section end */

/* card custom */
.card-custom {
  width: 50%;
  margin-left: 5%;
  background-color: #424446;
}
.icon-custom {
  top: -30px;
  background-color: #424446;
}
.card-skill {
  background-color: #424446;
}
.card-skill p {
  text-align: justify;
}

.border-footer {
  border-top: 1px solid#fff;
}

.footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  font-size: 28px;
  color: #fff;
}

/* Image Mobil */
.img-Mobil {
  width: 500px;
  height: 350px;
}
